@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser*/
* {
    /* margin: 5px; */
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

/* Header Element (with Logo and a Navbar */
header {
    width: 95%;
    height: 95%;
    margin-bottom: 0;
    margin: auto;
}

header nav {
    height: 80px;
    width: 100%;
    margin-top: 20px;
    display: flex;

}

button {
    background-color: #6359FF;
    width: 40%;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition: .3s linear;
}

button:hover {
    background-color: #FF8C42;
    border: #FF8C42;
    transition: .3s linear;
    transform: translateY(-5px);
}

header nav ul {
    list-style: none;
    display: flex;
    margin-left: auto;
}

header nav ul li {
    display: inline-block;
    padding: 3px 15px;
    margin-top: 15px;

}

header nav ul li a:hover {
    color: #6359FF;
}


header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin-bottom: 40px;
}

header nav .bi-list {
    display: none;
}

#check {
    display: none;
}


/* Contact Section */
