@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Inter', sans-serif;
}

/* Header Element with Logo and a Navbar */
header {
    width: 95%;
    height: 95%;
    margin-bottom: 0;
    margin: auto;
}

header nav {
    height: 80px;
    width: 100%;
    margin-top: 20px;
    display: flex;

}

button {
    background-color: #6359FF;
    width: 40%;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition: .3s linear;
}

button:hover {
    background-color: #FF8C42;
    border: #FF8C42;
    transition: .3s linear;
    transform: translateY(-5px);
}

header nav ul {
    list-style: none;
    display: flex;
    margin-left: auto;
}

header nav ul li {
    display: inline-block;
    padding: 3px 15px;
    margin-bottom:60px;
}

header nav ul li a:hover {
    color: #6359FF;
}


header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin-bottom: 60px;
}

header nav .bi-list {
    display: none;
}

#check {
    display: none;
}

#logo {
    height: 100px;
    width: auto;
}

label{
    display: none;
}


/* Photo-Text */
.title-bali{
    margin: 50px;
}



/* Picture Gallery */
.container{
    width: 100%;
    margin-inline: auto;
    padding-inline: 2rem;
}

.grid-col-span-2{
    grid-column: span 2;
}   

.photo-gallery{
    display: grid;
    grid-template-columns:repeat(4, 3fr);
    gap: 10px;
    margin: 0 10px;
}


.photo img{
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}


/* Accordion Chart */
.accordion-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 90%;
    gap: 0;
}

.booking-container{ 
    margin-top: 60px;
    padding: 30px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgb(201, 201, 201);
}

.booking-container h3{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 800;
}

.booking-container p{
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 300;
}

.booking-container button{
    width: 100%;
}

.accordion{
    margin-top: 60px;
    margin-left: 50px; 
    width: 90%;
}

.accordion li{
    list-style: none;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 5px 5px 20px rgb(201, 201, 201);
}

.accordion li label{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 500;
    cursor: pointer;
}

label::before{
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight:600;
}

label:hover{
    color:#FF8C42;
}


input[type="radio"]{
    display: none;
}

.accordion .content{
    color: black;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, paading 0.5s;
}

.accordion input[type="radio"]:checked + label + .content{
    max-height: 400px;
    padding:10px 10px 20px;
}



/* Comment Sections */
.comment-section{
    width: 90%;
    margin: 70px;
}

.comment-headline h2{
    color: #6359FF;
    padding-bottom:30px;
}


.testimonials-box-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width:100%;
}

.testimonial-box{
    width: 500px;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.profile img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
    margin-top: 10px;
}

.profile{
    display: flex;
    align-items: center;
}

.name-user{
    display: flex;
    flex-direction: column;
}

.name-user strong {
    color: black;
    font-size: 1.2rem;
    letter-spacing: .5px
}

.name-user span {
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: .5px;
}

.reviews{
    color:#f9d71c;
}

.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}


/* Offer Section */
.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    align-items: center;
    margin: 50px;
    padding-inline: 100px;
}

.card {
    width: 100%;
    padding: 20px;
    justify-content: center;
    box-shadow: 5px 5px 20px rgb(201, 201, 201);
    font-weight: 300;
    border-radius: 20px;
}

.card img {
    width: 100%;
    aspect-ratio: 5/2;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card button{
    width: 90%;
    margin-top: 20px;
}


footer {
    width: 90%;
    margin-bottom: 50px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-items a {
    color: black;
    font-size: 150%;
    justify-content: space-between;
    margin-left: 150px;
    margin-top: 50px;
}

/* Mobile Design */

@media only screen and (max-width: 700px) {
    header nav ul {
        display: block;
    }

    header .content .cont_box {
        width: 100%;
        color: white;
    }

    header .content .cont_box h1 {
        font-size: 300%;
        font-weight: 800;
    }

    header .content .cont_box p {
        font-size: 150%;
        font-weight: 300;
    }

    header .content::before {
        height: 100%;
    }

    .title-bali h1 {
        padding-bottom: 20px;
    }

    .photo-gallery{
        display: grid;
        grid-template-columns:1fr 1fr;;
        gap: 10px;
    }

     .accordion-container {
            display: grid;
            grid-template-columns:1fr;
            width: 90%;
            gap: 0;
        }

    .booking-container{
        margin-left: 30px;
        width: 100%;
    }

    .comment-section{
        text-align: center;
        margin: 55px auto;

    }

    .product-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 70%;
    padding: 0;
    }

    .product-grid button {
    width: 100%;
    margin: 0;
    margin-top: 30px;
    }


}