@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser*/
*{
    /* margin: 5px; */
    padding: 0;
    box-sizing: border-box; 
    
}

body{
font-family: 'Inter', sans-serif;
}

/* Header Element (with Logo and a Navbar */
header{
      width: 95%;
      height: 95vh;
      margin-bottom: 0;
      margin: auto;
}

header nav{
    width: 100%;
    height: 7%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

button{
    background-color: #6359FF;
    width: 40%;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition: .3s linear;
}

button:hover{
    background-color: #FF8C42;
    border: #FF8C42;
    transition: .3s linear;
    transform: translateY(-5px);
}

header nav ul{
    list-style: none;
    display: flex;
}

header nav ul li{
    padding: 3px 15px;
}

header nav ul li:nth-last-child(1){
    background-color: black;
    border-radius: 20px;
    padding: 5px 20px;
}

header nav ul li:nth-last-child(1) a {
    color: white;
}

header nav ul li:nth-last-child(1):hover{
    background-color: #6359FF;
    color: white;
    cursor: pointer
    
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}


header nav .bi-list{
    display: none;
}


header .content {
    position: relative;
    width: 100%;
    height: 80%;
    
}

header .content::before{
    content: '';
    position:absolute;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/ocean.jpg');
    background-size: cover;
    border-radius: 10px;
    z-index: -1;
}

header .content .cont_box{
    width: 500px;
    height: auto;
    color: white;
    padding: 30px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: 150px;   
    
}

header .content .cont_box h1 {
    font-size: 500%;
    font-weight: 800;
    margin: 0;
   
}

header .content .cont_box p{
    font-size: 150%;
    font-weight: 300;
}


header .content .cont_box button {
   background-color: #6359FF;
   width: 60%;
   padding: 10px 20px;
   border-radius: 10px;
   border: none;
   color: white;
   font-weight: 600;
   cursor: pointer;
   outline: none;
   transition: .3s linear;
}

header .content .cont_box button:hover{
    background-color: #FF8C42;
    border: #FF8C42;
    transition: .3s linear;
}

#logo{
    height: 100px;
    width: auto;
}


/* Main Content */
main  {
width: 95%;
height: 100vh;
margin: auto;   
}

main img {
    min-width: 100%;
}

     
.explaintext {
    width: 50%;
    margin-left: auto;
    display: flex;
    justify-content: center;
    flex-direction: column; 
}  

/* Frist text */
.explaintext h1 {
    font-size: 320%;
    padding: auto;
}
 
.explaintext p {
    font-size: 100%;
    font-weight: 300;
    margin-bottom: 20px;
}

/* Services Cards */
.cards-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: 100px;
    margin-top: 150px;
    margin-bottom: 100px;
    width: fit-content;
    height: fit-content;
    padding-inline: 90px;  
}

.cards-1, .cards-3{
    background-color: #ffffff;
    border-radius:8px;
    overflow:hidden;
    box-shadow: 5px 5px 20px rgb(201, 201, 201);
    margin: 20px;
    padding: 20px;
}

.cards-1{
    position: relative;
    bottom: 130px;
}

.cards-2{
    position: relative;
    bottom: 40px;
}

.cards-3{
    position: relative;
    bottom: 5px;
}

.cards-4{
    position: relative;
    bottom: -100px;
}

.fa-circle-info{
    color: #6359FF
}

.card-container p {
    font-size:28px;
    padding: 16px;
    margin-bottom: 8px;
}


/* Destinations Card */
div span {
    height: 30px;
    width: 30px;
    color:white;
    background-color: #6359FF;
    border-radius: 50%;
    display: inline-block;
    font-size: larger;
    font-weight: 600;  
    text-align: center;
    padding-top: 3px;
}

.progress h3{
    display: inline-block;
    padding-left: 10px;
}

.progress p{
    padding-bottom: 20px;
}

.inner-text{
   padding-top: 10%;
   
}

.destination-card{
    width: 95%;
    padding: 50px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    background-color:#B5C9C3;
    color: white;
    justify-content: space-between;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow:  6 0 0 6 rgba(0, 0, 0, 0.2);
}

.destination-progress{
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Destinations-text */
.destinations-text {
    width: 100%;
    height: 50%;
    padding-right: 100px;
    padding-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}



/* Offer Cards */
.product-grid{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;     
}

.card{
    width: 100%;
    padding: 20px;
    justify-content: center;
    box-shadow: 5px 5px 20px rgb(201, 201, 201);
    font-weight: 300;
    border-radius: 20px;
}

.card img{
    width: 100%;
    aspect-ratio: 5/2;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;   
}

/* Search Box Booking.com */
.searchbox{
    width: 100%;
    height: 50%;
    padding-right: 100px;
    padding-left: 100px;
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    }


/* Conatact Us Section */
.contactus{
    width: 95%;
    padding: 50px;
    margin: auto;
    background-color: #B5C9C3;
    color: white;
    justify-content: space-between;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom:100px;
    box-shadow: 6 0 0 6 rgba(0, 0, 0, 0.2);
}

/* Footer */
footer{
    width: 100%;
    height: 100%; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-items{
    display: flex;
    flex-direction: column;
    
    text-align: center;
}

.company-name{
    padding-bottom: 20px;
}

.fa-tiktok .fa-instagram {
    margin:0;
}