@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser*/
*{
    margin-top: 10px;
    padding: 0;
    box-sizing: border-box; 
    
}

body{
font-family: 'Inter', sans-serif;
}

/* Header Element (with Logo and a Navbar */
header{
      width: 95%;
      height: 95vh;
      border: 1px solid black;
      margin: auto;
}

header nav{
    width: 95%;
    height: 7%;
    border:1px solid black;
    margin: auto;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header nav ul{
    list-style: none;
    display: flex;
}

header nav ul li{
    padding: 3px 15px;
}

header nav ul li:nth-last-child(1){
    background-color: black;
    border-radius: 20px;
    padding: 5px 20px;
}

header nav ul li:nth-last-child(1) a {
    color: white;
}

header nav ul li:nth-last-child(1):hover{
    background-color: #6359FF;
    color: white;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

header nav ul li a:hover{
    color:#6359FF;
}

header nav .bi-list{
    display: none;
}


header .content {
    position: relative;
    width: 100%;
    height: 80%;
    border: 1px solid black;
}

header .content::before{
    content: '';
    position:absolute;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    background-image: url('/assets/images/sandpicture.jpg');
    background-size: cover;
    border-radius: 10px;
    z-index: -1;
}

header .content .cont_box{
    width: 500px;
    height: auto;
    color: white;
    padding: 30px;
    margin-top:70px;
    margin-left: auto;
    
    
}

header .content .cont_box h1 {
    font-size: 320%;
    font-weight: 800;
   
}

#logo{
    height: 180px;
    margin-bottom: 15px;
    
}
















