@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    
}


button {
    background-color: #6359FF;
    width: 40%;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition: .3s linear;
}

button:hover {
    background-color: #FF8C42;
    border: #FF8C42;
    transition: .3s linear;
    transform: translateY(-5px);
}


/* Header Element (with Logo and a Navbar */
header {
    width: 95%;
    height: 95%;
    margin-bottom: 0;
    margin: auto;
}

header nav {
    height: 80px;
    width: 100%;
    margin-top: 20px;
}


header nav ul {
    float: right;
    margin-right: 20px;
}

header nav ul li {
    display: inline-block;
    line-height: 70px;
    margin: 0 15px;

}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin-bottom: 40px;
}

.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin: 20px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

header nav ul li a:hover {
    color: #6359FF;
}

#logo {
    height: 100px;
    width: auto;
}

body {
    font-family: 'Inter', sans-serif;
    width: 100%;
   
    

}
/* Contact Form */

#signup {
    background-image: url("../images/ocean.jpg");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
    margin-top: 50px;
    padding-bottom: 50px;
}

#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}

#signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #6359FF;
    color: #fafafa;
}

footer {
    width: 90%;
    margin-top: 30px;
    margin-bottom: 100px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-items a {
    color: black;
    font-size: 150%;
    justify-content: space-between;
    padding-left: 30px;
    margin-left: 40px;
}



@media only screen and (max-width: 700px) {
    .checkbtn {
            display: block;
            font-size: 2rem;
            margin-top: 10px;
            margin-right: 20px;
            cursor: pointer;
        }
    
        nav ul {
            display: grid;
            grid-template-columns: 1fr;
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: #FF8C42;
            top: 100px;
            left: -100%;
            text-align: center;
            transition: all .5s;
            z-index: 99;
        }

    
        #check:checked~ul {
            left: 0;
        }

        .join-button {
            width: 100%;
        }

}