@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.button {
    background-color: #6359FF;
    text-decoration: none;
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition: .3s linear;
}

.button:hover {
    background-color: #FF8C42;
    border: none;
    /* Corrected */
    transition: .3s linear;
    transform: translateY(-5px);
}

header {
    width: 95%;
    height: 95%;
    margin: auto;
}

header nav {
    height: 80px;
    width: 100%;
    margin-top: 20px;
}

header nav ul {
    float: right;
    margin-right: 20px;
}

header nav ul li {
    display: inline-block;
    line-height: 70px;
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin: 20px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

header nav ul li a:hover {
    color: #6359FF;
}

#logo {
    height: 100px;
    margin-left: 5px;
}

nav label::before {
    display: none;
}

.title-bali {
    margin: 50px;
}

.container {
    width: 100%;
    margin-inline: auto;
    padding-inline: 2rem;
}

.grid-col-span-2 {
    grid-column: span 2;
}

.photo-gallery {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    gap: 10px;
    margin: 0 10px;
}

.photo img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.accordion-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 90%;
    gap: 0;
}

.booking-container {
    margin-top: 60px;
    padding: 30px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgb(201, 201, 201);
}

.booking-container .button {
    width: 100%;
    margin-top: 100px;
}

.booking-container h3 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 800;
}

.booking-container p {
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 300;
}

.accordion {
    margin-top: 60px;
    margin-left: 50px;
    width: 90%;
}

.accordion li {
    list-style: none;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 5px 5px 20px rgb(201, 201, 201);
}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

label::before {
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}

label:hover {
    color: #FF8C42;
}

input[type="radio"] {
    display: none;
}

.accordion .content {
    color: black;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked+label+.content {
    max-height: 400px;
    padding: 10px 10px 20px;
}

.comment-section {
    width: 90%;
    margin: 70px;
}

.comment-headline h2 {
    color: #6359FF;
    padding-bottom: 30px;
}

.testimonials-box-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.testimonial-box {
    width: 500px;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
    margin-top: 10px;
}

.profile {
    display: flex;
    align-items: center;
}

.name-user {
    display: flex;
    flex-direction: column;
}

.name-user strong {
    color: black;
    font-size: 1.2rem;
    letter-spacing: .5px;
}

.name-user span {
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: .5px;
}

.reviews {
    color: #f9d71c;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    align-items: center;
    margin: 50px;
    padding-inline: 100px;
}

.card {
    width: 100%;
    padding: 20px;
    justify-content: center;
    box-shadow: 5px 5px 20px rgb(201, 201, 201);
    font-weight: 300;
    border-radius: 20px;
}

.card img {
    width: 100%;
    aspect-ratio: 5/2;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card .button {
    width: 90%;
}

footer {
    width: 90%;
    margin-bottom: 50px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-items a {
    color: black;
    font-size: 150%;
    justify-content: space-between;
    padding-left: 30px;
    margin-left: 140px;
}

@media only screen and (max-width: 700px) {
    .checkbtn {
        display: block;
        font-size: 2rem;
        margin-top: 10px;
        margin-right: 20px;
        cursor: pointer;
    }

    nav ul {
        display: grid;
        grid-template-columns: 1fr;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #FF8C42;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 99;
    }

    #check:checked~ul {
        left: 0;
    }

    header .content .cont_box {
        width: 100%;
        color: white;
    }

    header .content .cont_box h1 {
        font-size: 300%;
        font-weight: 800;
    }

    header .content .cont_box p {
        font-size: 150%;
        font-weight: 300;
    }

    header .content::before {
        height: 100%;
    }

    .title-bali h1 {
        padding-bottom: 20px;
    }

    .footer-container {
        display: flex;
        flex-direction:row;
        align-items: center;
    }

    .footer-items a {
        color: black;
        font-size: 150%;
        justify-content: space-between;
        padding-left: 30px;
        margin-left: 40px;
    }

    .photo-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        ;
        gap: 10px;
    }

    .accordion-container {
        display: grid;
        grid-template-columns: 1fr;
        width: 90%;
        height: fit-content;
        gap: 0;
    }

    .booking-container {
        margin-left: 30px;
        width: 100%;
    }

    .comment-section {
        text-align: center;
        margin: 55px auto;
    }

    .product-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
        padding: 0;
    }
}



